*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.flex {
    display: flex;
}

.avatar-img{
    width: 50px;
    border-radius: 50%;
    display: block;
}


.text{
    font-size: 12px;
}

.bold{
    font-weight: 800;
    font-size: 13px;
}

i{
    cursor: pointer;
}

/* Container */
.screen-container {
    height: 100vh;
    padding: 2rem;

    /* test */
    background-color: lightgreen;
}

.app-container {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    padding: 0.3rem;
    background-color: #eaeaea;
    min-width: 950px;
}

/* Colonne */

.small-column{
    width: 35%;
    border-right: 1px solid grey;
    flex-direction: column;
    height: 100%;
}

.big-column.flex {
    width: 65%;
    height: 100%;
    padding-left: 0.5rem;
    flex-direction: column;
}

/* COLONNA PICCOLA */
/* user avatar */

.user-card.flex{
    justify-content: space-between;
    margin-bottom: 0.2rem;
}

.user-img.flex{
    width: 50%;
    align-items: center;
}

.user-img.flex img{
    width: 40px;
    border-radius: 50%; 
}

.name{
    padding-left: 0.7rem;
}

/* icone */
.icon-container.flex{
    align-items: center;
    text-align: right;
}

.icon-container.flex i{
    padding-right: 0.5rem;
    color: #b1b1b1;   
}

/* notifiche */
.notification.flex{
    align-items: center;
    padding: 0.6rem 0;
    background-color: #8edafc;
    padding: 0.6rem;
}

#notification-square{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
}

#notification-square i{
    color: #8edafc;
    transform: translate(50%, 50%);
}

.notification.flex .container-notification {
   padding-left: 0.5rem;
}

#notification-on-off .text{
    color:#4e7484;  
}

/* ricerca nella chat */
.search.flex{
    padding: 0.4rem;
}
.lens{
    width: 8%;
    text-align: center;
    background-color: white;
    color: #b7b9bb;
}

#search-barr{
    width: 92%;
    border: none;
    color: #b7b9bb;
}

/* chat */
.chat-card.flex{
    align-items: center;
    padding: 0.5rem;
    margin: 0.1rem 0;
    background-color: white;
    flex-grow: 1;
}

.overflow-container.flex{
    flex-direction: column;
    overflow: scroll;
}

.chat-square{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.chat-card.flex:hover{
    background-color: lightgray;
} 

.chat-user{
    padding-left: 0.5rem;
    cursor: pointer;
}

/* COLONNA GRANDE */

.chat-window {
    background-image: url(../img/mine.jpg);
    flex-grow: 1;
    padding: 1rem 0;
    flex-direction: column;
    overflow: auto;
}

 .sender-container{
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10px;
} 


.send-message.flex{
    background-color: #eaeaea;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

#message-bar{
    width: 90%;
    height: 31px;
}

.send-message.flex i{
    color: #b7b9bb;
}

/* messaggi */
.sent{
    background-color: #d5f9ba;
    max-width: 55%;
    min-width: 20%;
    margin: 1rem 0;
    padding: 0.7rem;
    align-self: flex-end;
    margin-right: 0.3rem;
    border-radius: 10px;
    position: relative;
    
}

.received {
    background-color: white;
    max-width: 55%;
    min-width: 20%;
    margin: 1rem 0;
    padding: 0.7rem;
    align-self: flex-start;
    margin-left: 0.3rem;
    border-radius: 10px;
    position: relative;
}

.message-text{
    padding-bottom: 20px;
    overflow-wrap: break-word;
    position: relative;
    padding-right: 25px;
}

.message-text i{
    position: absolute;
    top:0.5rem;
    right: 0.5rem;
    font-size: 10px;
    display: none;
}

.message-text:hover i{
    display: block;
}

.date{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 10px;
    padding-right: 10px;
}

/* da risolvere */

.bcg-grey {
    background-color: aquamarine;
    color: blue;
}

.curtain-menu{
    width: 100px;
    height: 100px;
    background-color: white;
    display: none;
}

.active{
    display: block;
}


